<!DOCTYPE html>
<html ng-app>
<head>
	<title>The Bevel — ratio solver, screen ratio, ...</title>
	<meta name="description" content="Easy-to-use ratio solver. Show common ratios with a single click." />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" /> -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
	<script src="calc.js"></script>
	<link rel="stylesheet" href="style.css" />
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36344692-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body ng-controller="CalcCtrl">
	<div class="content">
		<div class="title">
			<img src="compass.png" width="53" height="102"/>
			<h1>The Bevel</h1>
		</div>
		<p class="intro">Set the ratio on the left, then scale on the right.</p>
		<div class="calculator">
			<ul class="left">
				<li ng-repeat="number in leftNumbers">
					<input type="number" ng-model="number.v" ng-change="update('left', $index)"/>
					<span class="is-to" ng-hide="$last">is to</span>
				</li>
			</ul>
			<span class="as">as</span>
			<ul class="right">
				<li ng-repeat="number in rightNumbers">
					<input type="number" ng-model="number.v" ng-change="update('right', $index)"/>
					<span class="is-to" ng-hide="$last">is to</span>
				</li>
			</ul>
		</div>
		<div class="common">
			<h2>Common</h2>
			<ul>
				<li ng-repeat="ratio in commonRatios">
					<a href="#" ng-click="useRatio($index)">{{ ratio.name }}</a>
				</li>
			</ul>
			<span class="suggest">
				<a href="mailto:jerome@jeromebaum.com">Suggest another</a>
			</span>
		</div>
		<div class="about">
			<h2>About</h2>
			<p>

				I created <em>The Bevel</em> to play with AngularJS and to find
				"sweet points" in scaling images.

			</p><p>

				Try entering the original width and height on the left side and
				then fiddle with the numbers on the right.

			</p>
		</div>
		<div class="credits">
			<h2>Credits</h2>
			<p>Copyright © 2012 Jerome Baum <a href="mailto:jerome@jeromebaum.com">
					jerome@jeromebaum.com</a>
			</p>
			<p>Background by
				<a href="http://subtlepatterns.com">http://subtlepatterns.com</a>
			</p>
		</div>
	</div>
</body>
</html>
